:root {
    --main_color: #2196f3;
    --dark_color: #2f303a;
    --light_color: #f5f4fa;
    --second_light_color: #FFFFFF;
}

span {
    color: var(--main_color);
}

button {
    background-color: var(--main_color);
    color: var(--second_light_color);
}

.hero_and_footer  {
    background-color: var(--dark_color);
    color: var(--second_light_color);
}

.team_section {
    background-color: var(--light_color);
}