:root {
    --blue: #2196f3;
    --black: #2f303a;
    --background_white: #f5f4fa;
    --text_white: #FFFFFF;
}

span {
    color: var(--blue);
}

button {
    background-color: var(--blue);
    color: var(--text_white);
}

.hero_and_footer  {
    background-color: var(--black);
    color: var(--text_white);
}

.team_section {
    background-color: var(--background_white);
}